<%
    //what category are we?
    var thisCat = current.source;

    //Loop through entries and get matches
    var matches = [];

    function convertToSlug(data) {
        var slug = data.replace(/\s+/g, '-').toLowerCase();

        return slug;
    }

    for(var key in public.blog.articles._data) {
        var entry = public.blog.articles._data[key];

        var slug = convertToSlug(entry.category);

        matches.push(entry);
        //copy slug too
        matches[matches.length-1].slug = key;

    }
%>

<section class="blog">
    <div class="row">
        <div class="large-12 large-centered columns">
            <h2 class="headline category-title">All posts</h2>
        </div>
    </div>

    <div class="row">
        <div class="large-12 large-centered columns">
            <% for(var i=0; i<matches.length; i++) { %>
            <div class="large-4 columns post-element left">
                <div class="excerpt">
                    <a href="/blog/articles/<%- matches[i].directory %><%- matches[i].slug %>">
                        <img src="/blog/attachments/images/<%- matches[i].directory %><%- matches[i].image_file %>">
                        <h3><%- matches[i].title %></h3>
                        <p><%- matches[i].description %></p>
                    </a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>