<section class="customers">
    <div class="header-background">
        <div class="row head-testimony gap-top-large gap-bottom-medium">
            <div class="medium-12 large-10 columns">
                <a href="https://www.youtube.com/watch?v=kbuyKzf-vY8" data-fancybox >
                    <svg class="svg-icon">
                        <use xlink:href="#video-play"></use>
                    </svg>
                </a>
                <h2 class="size-large weight-light">
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark-white.png" alt="Quote" class="quotation" />
                    We have done a really big change,<br/>
                    for our customers.
                </h2>
                <svg class="housemark">
                    <use xlink:href="#housemark-logo"></use>
                </svg>
                Housemark.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/akindi" class="customer customer-excerpt akindi">
                <img src="<%= img_path %>template/ModCustomers/akindi/akindi-logo.png" alt="Akindi" />
                <h3>Why teachers gave an A+ to Akindi</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/bittitan" class="customer customer-excerpt bittitan">
                <img src="<%= img_path %>template/ModCustomers/bittitan/bittitan-logo.png" alt="BitTitan" />
                <h3>How BitTitan found a right spell for MigrationWiz</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/datawrapper" class="customer customer-excerpt datawrapper">
                <img src="<%= img_path %>template/ModCustomers/datawrapper/datawrapper-logo.png" alt="Datawrapper" />
                <h3>How Datawrapper helps journalists to be first with their stories</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/socialpoint" class="customer customer-excerpt socialpoint">
                <img src="<%= img_path %>template/ModCustomers/socialpoint/socialpoint-logo.png" alt="Social Point"
                     width="120" />
                <h3>Why Social Point hit the jackpot when choosing their spreadsheet</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/nuxeo" class="customer customer-excerpt nuxeo">
                <img src="<%= img_path %>template/ModCustomers/nuxeo/nuxeo-logo.png" alt="Nuxeo" />
                <h3>How Nuxeo helps customers to implement their own business logic</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/trackingfirst" class="customer customer-excerpt trackingfirst">
                <img src="<%= img_path %>template/ModCustomers/trackingfirst/trackingfirst-logo.png" alt="Tracking First" />
                <h3>How Tracking First enhances marketing campaigns</h3>
            </a>
        </div>
        <div class="medium-6 large-12 columns post-element">
            <a href="/customers/infogram" class="customer infogram-excerpt infogram">
                <img src="<%= img_path %>template/ModCustomers/infogram/infogram-logo.svg" alt="Infogram" width="120" />
                <img src="<%= img_path %>template/ModCustomers/infogram/infogram-mikko-jarvenppa-2.png" alt="Infogram" width="355" class="mikko" />
                <img src="<%= img_path %>template/ModCustomers/quotation-mark-white.png" alt="Quote" class="quotation" />
                <h3 class="infogram-heading">
                    There's no need to reinvent the wheel, especially
                    when someone provides an extremely well-engineered wheel for you to use.
                    <span class="signature">Mikko Järvenpää, CEO at Infogram</span>
                </h3>
            </a>

        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/omnidb" class="customer customer-excerpt omnidb">
                <img src="<%= img_path %>template/ModCustomers/omnidb/omnidb-logo.png" alt="OmniDB" width="120" />
                <h3>How OmniDB overcame the complexity of database management</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/visible" class="customer customer-excerpt visible">
                <img src="<%= img_path %>template/ModCustomers/visible/visible-logo.png" alt="Visible" width="120" />
                <h3>Visible's vision for an all-in-one stakeholder management platform</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/amcharts" class="customer customer-excerpt amcharts">
                <img src="<%= img_path %>template/ModCustomers/amcharts/amcharts-logo.png" alt="amCharts" width="120" />
                <h3>How amCharts plotted a path to an intuitive interface</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/slicingdice" class="customer customer-excerpt slicingdice">
                <img src="<%= img_path %>template/ModCustomers/slicingdice/slicingdice-logo.png" alt="SlicingDice"
                     width="120" />
                <h3>How SlicingDice simplified their API documentation</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="#" class="customer customer-excerpt coming-soon">
                <h3>Coming soon</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element"></div>
        <div class="medium-6 large-4 columns post-element"></div>

    </div>
</section>
