<section class="download-version">

    <div class="row">
        <h1 class="text-center size-large gap-top-medium gap-bottom-small">Download Handsontable Pro<br/>
            <span>Version <%= hot_pro_version %> released on <%= hot_pro_date %></span><br/>
            <span><a href="/pricing.html">See pricing plans</a></span>
        </h1>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <div class="tabs tabs-download">
                <div class="tab">
                    <ul>
                        <li id="tab-npm" class="active">NPM</li>
                        <li id="tab-yarn">Yarn</li>
                        <li id="tab-amd">AMD</li>
                        <li id="tab-nuget">NuGet</li>
                        <li id="tab-bower">Bower</li>
                        <li id="tab-jspm">jspm</li>
                    </ul>
                </div>
                <div id="tab-content-npm" class="active">
                    <div class="row">
                        <div class="medium-12 large-7 columns">
                            <p>Handsontable Pro can be installed from
                                <a href="//www.npmjs.com/package/handsontable-pro" target="_blank">NPM</a>.
                                It includes all the files, along with the complete source code.</p>
                            <code class="language-bash">npm install handsontable-pro</code>
                        </div>
                    </div>
                </div>
                <div id="tab-content-yarn">
                    <div class="row">
                        <div class="medium-12 large-7 columns">
                            <p>To install Handsontable Pro, just run the following command using the
                                <a href="http://yarnpkg.com/en/" target="_blank">Yarn</a> Package Manager Console.</p>
                            <code class="language-bash">yarn add handsontable-pro</code>
                        </div>
                    </div>
                </div>
                <div id="tab-content-amd">
                    <div class="row">
                        <div class="medium-12 large-8 columns">
                            <p>If you use a modular script loader, then you can require Handsontable Pro just like any other
                                module:</p>
                                <code class="language-javascript">require(['handsontable-pro'], function(Handsontable) {
  var hot = new Handsontable(document.getElementById('example'), {
    data: [[1, 2, 3, 4], [1, 2, 3, 4]]
  });
});</code>
                        </div>
                    </div>
                </div>
                <div id="tab-content-nuget">
                    <div class="row">
                        <div class="medium-12 large-7 columns">
                            <p>To install Handsontable Pro, just run the following command in the
                                <a href="http://docs.microsoft.com/en-us/nuget/tools/package-manager-console"
                                   target="_blank">NuGet</a> package manager console.</p>
                            <code class="language-bash">PM> Install-Package Handsontable-pro</code>
                        </div>
                    </div>
                </div>
                <div id="tab-content-bower">
                    <div class="row">
                        <div class="medium-12 large-7 columns">
                            <p>Although it is no longer recommended, Handsontable Pro can be still installed via
                                <a href="http://bower.io/search/" target="_blank">bower</a> package manager.</p>
                            <code class="language-bash">bower install handsontable-pro</code>
                        </div>
                    </div>
                </div>
                <div id="tab-content-jspm">
                    <div class="row">
                        <div class="medium-12 large-7 columns">
                            <p>To install Handsontable Pro on
                                <a href="https://github.com/jspm/jspm-cli/blob/master/docs/installing-packages.md"
                                   target="_blank">JSPM</a> run the following command.</p>
                            <code class="language-bash">jspm install npm:handsontable-pro</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="row repositories">
        <div class="large-6 columns">
            <h3>Download ZIP</h3>
            <div class="row repositories-module top-modules">
                <div class="columns">
                    <p>
                        Download the ZIP archive, which contains all the files, demos,
                        and the full source code of the latest version of Handsontable Pro.
                    </p>
                    <a href="https://github.com/handsontable/handsontable-pro/archive/master.zip"
                       class="btn size-medium bg-green bg-lighten text-white hover-moveup shadow">
                        Download v<%= hot_pro_version %>
                    </a>
                    <br/><br/>
                    <p>
                        If you are looking for a nightly build, see the
                        <a href="https://github.com/handsontable/handsontable-pro/tree/develop"
                           target="_blank">develop branch</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="large-6 columns">
            <h3>Clone repository</h3>
            <div class="row repositories-module top-modules">
                <div class="columns">
                    <p>Handsontable’s Pro source code is hosted and
                        <a href="//github.com/handsontable/handsontable-pro" target="_blank">
                            developed on GitHub</a> where you can fork it, or
                        contribute to its development.</p>
                    <div class="tabs tabs-download">
                        <div class="tab">
                            <ul>
                                <li id="tab-https" class="active">HTTPS</li>
                                <li id="tab-ssh">SSH</li>
                            </ul>
                        </div>
                        <div id="tab-content-https" class="active">
                            <div class="row collapse">
                                <div class="small-12 columns">
                                    <code>https://github.com/handsontable/handsontable-pro.git</code>
                                </div>
                            </div>
                        </div>
                        <div id="tab-content-ssh">
                            <div class="row collapse">
                                <div class="small-12 columns">
                                    <code>git@github.com:handsontable/handsontable-pro.git</code>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row repositories">
        <div class="large-6 columns">
            <h3>Wrappers and more</h3>
            <div class="row repositories-module bottom-modules">
                <div class="columns">
                    <p>Handsontable Pro is available for different frameworks and comes with
                        a TypeScript definitions file included in the package for your strongly typed projects.
                        Go ahead and <a href="https://docs.handsontable.com/pro/tutorial-quick-start.html"> start your
                            first
                            project.</a></p>
                    <div class="row wrappers text-center">
                        <ul class="large-block-grid-5 small-block-grid-3 small-centered">
                            <li>
                                <a href="https://github.com/handsontable/react-handsontable" target="_blank"
                                   class="btn hover-moveup">
                                    <svg>
                                        <use xlink:href="#react-js"></use>
                                    </svg>
                                    <p>React</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/handsontable/ngHandsontable" target="_blank"
                                   class="btn hover-moveup">
                                    <svg>
                                        <use xlink:href="#angular-l"></use>
                                    </svg>
                                    <p>AngularJS</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/handsontable/angular-handsontable" target="_blank"
                                 class="btn hover-moveup">
                                    <svg>
                                        <use xlink:href="#angular-2"></use>
                                    </svg>
                                    <p>Angular</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/handsontable/hot-table" target="_blank" class="btn hover-moveup">
                                    <svg>
                                        <use xlink:href="#polymer-l"></use>
                                    </svg>
                                    <p>Polymer</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/handsontable/vue-handsontable-official" target="_blank"
                                   class="btn hover-moveup">
                                    <svg>
                                        <use xlink:href="#vue-l"></use>
                                    </svg>
                                    <p>Vue.js</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="large-6 columns">
            <h3>Use CDN</h3>
            <div class="row repositories-module bottom-modules">
                <div class="columns">
                    <p>Our CDN is available for 10 locations around the world,
                        with an SSL connection.</p>

                    <div class="tabs tabs-download">
                        <div class="tab">
                            <ul>
                                <li id="tab-minified" class="active">Minified</li>
                                <li id="tab-uncompressed">Uncompressed</li>
                                <li id="tab-minified-deps">Minified (with included dependencies)</li>
                            </ul>
                        </div>
                        <div id="tab-content-minified" class="active">
                            <div class="row collapse">
                                <div class="small-12 columns">
                                    <code>
                                        https://cdnjs.cloudflare.com/ajax/libs/handsontable-pro/<%= hot_pro_version %>/handsontable.min.js<br/>
                                        https://cdnjs.cloudflare.com/ajax/libs/handsontable-pro/<%= hot_pro_version %>/handsontable.min.css
                                    </code>
                                </div>
                            </div>
                        </div>
                        <div id="tab-content-uncompressed">
                            <div class="row collapse">
                                <div class="small-12 columns">
                                    <code>
                                        https://cdnjs.cloudflare.com/ajax/libs/handsontable-pro/<%= hot_pro_version %>/handsontable.js<br/>
                                        https://cdnjs.cloudflare.com/ajax/libs/handsontable-pro/<%= hot_pro_version %>/handsontable.css
                                    </code>
                                </div>
                            </div>
                        </div>
                        <div id="tab-content-minified-deps">
                            <div class="row collapse">
                                <div class="small-12 columns">
                                    <code>
                                        https://cdnjs.cloudflare.com/ajax/libs/handsontable-pro/<%= hot_pro_version %>/handsontable.full.min.js<br/>
                                        https://cdnjs.cloudflare.com/ajax/libs/handsontable-pro/<%= hot_pro_version %>/handsontable.full.min.css
                                    </code>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row resources gap-bottom-small">
        <h2 class="text-center size-large gap-top-small gap-bottom-xsmall">
            More resources
        </h2>
        <ul class="small-block-grid-3 list">
            <li>
                <ul>
                    <li><a href="//docs.handsontable.com/pro/tutorial-quick-start.html">Quick start</a></li>
                    <li><a href="//docs.handsontable.com/pro/tutorial-setting-options.html">Setting options</a></li>
                    <li><a href="//docs.handsontable.com/pro/tutorial-data-binding.html">Data binding</a></li>
                    <li><a href="//docs.handsontable.com/pro/tutorial-load-and-save.html">Load and save</a></li>
                    <li><a href="//github.com/handsontable/handsontable/blob/master/handsontable.d.ts" target="_blank">
                            Typescript</a>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="/knowledge-base.html">Knowledge base</a></li>
                    <li><a href="//docs.handsontable.com/pro/tutorial-compatibility.html">Compatibility</a></li>
                    <li><a href="//docs.handsontable.com/pro/tutorial-licensing.html">Licensing</a></li>
                    <li><a href="//docs.handsontable.com/pro/tutorial-release-notes.html">Changelog</a></li>
                    <li><a href="//trello.com/b/PztR4hpj" target="_blank">Roadmap</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="//github.com/handsontable/handsontable-pro" target="_blank">GitHub</a></li>
                    <li><a href="//twitter.com/handsontable" target="_blank">Twitter</a></li>
                    <li><a href="//stackoverflow.com/tags/handsontable" target="_blank">StackOverflow</a></li>
                    <li><a href="//forum.handsontable.com/">
                            Developer’s forum</a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>





