<section class="team">

    <div class="row">
        <div class="columns">
            <h1 class="text-center size-large gap-top-medium gap-bottom-xsmall wait-for-font">Meet our Team<br/>
                <span>We are geeks who love playing with new technologies and sharing experience</span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="large-12 large-centered columns">
            <div class="row">
                <div class="large-8 large-centered columns our-mission">
                    <p>
                        When we started in 2012, we had no idea that this spreadsheet project would become so popular.
                        Since then, complexity has followed popularity. In 2014 we revised the structure of Handsontable
                        and decided to make it modular. This allowed us to introduce new commercial features built
                        on top of the free and open-source core. This is how Handsontable Pro was brought to life.
                    </p>
                    <p>
                        Ultimately, we aim to create a 60FPS composite spreadsheet framework that works without
                        limitation in performance, regardless of the size of the data set.
                        <a href="//github.com/handsontable/handsontable/blob/master/CONTRIBUTING.md"
                           target="_blank" rel="noopener">Want to help us?</a>
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="small-12 medium-4 columns team-member">
                    <img src="<%= img_path %>template/ModTeam/krzysztof_spilka.png" alt="Krzysztof Spilka">
                    <div class="desc">
                        <h4>
                            Christopher Spilka<br/>
                            <small>CEO &amp; Co-founder</small>
                        </h4>
                    </div>
                    <div class="social-links">
                        <a href="//twitter.com/spila" target="_blank" rel="noopener">
                            <svg>
                                <use xlink:href="#twitter_icon"></use>
                            </svg>
                        </a>
                        <a href="//github.com/krzysztofspilka" target="_blank" rel="noopener">
                            <svg>
                                <use xlink:href="#github_icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="small-12 medium-4 columns team-member">
                    <img src="<%= img_path %>template/ModTeam/marcin_warpechowski.png"
                         alt="Marcin Warpechowski">
                    <div class="desc">
                        <h4>
                            Marcin Warpechowski<br/>
                            <small>Co-founder</small>
                        </h4>
                    </div>
                    <div class="social-links">
                        <a href="//twitter.com/warpech" target="_blank" rel="noopener">
                            <svg>
                                <use xlink:href="#twitter_icon"></use>
                            </svg>
                        </a>
                        <a href="//github.com/warpech" target="_blank" rel="noopener">
                            <svg>
                                <use xlink:href="#github_icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="small-12 medium-4 columns team-member">
                    <img src="<%= img_path %>template/ModTeam/jan_siegel.png" alt="Jan Siegel">
                    <div class="desc">
                        <h4>
                            Jan Siegel<br/>
                            <small>Front-end Developer</small>
                        </h4>
                    </div>
                    <div class="social-links">
                        <a href="//github.com/jansiegel" target="_blank" rel="noopener">
                            <svg>
                                <use xlink:href="#github_icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-4 columns team-member">
                    <img src="<%= img_path %>template/ModTeam/krzysztof_budnik.png" alt="Krzysztof Budnik">
                    <div class="desc">
                        <h4>
                            Krzysztof Budnik<br/>
                            <small>Full-stack Developer</small>
                        </h4>
                    </div>
                    <div class="social-links">
                        <a href="//github.com/budnix" target="_blank" rel="noopener">
                            <svg>
                                <use xlink:href="#github_icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="small-12 medium-4 columns team-member">
                    <img src="<%= img_path %>template/ModTeam/ola_budnik.png" alt="Aleksandra Budnik">
                    <div class="desc">
                        <h4>
                            Aleksandra Budnik<br/>
                            <small>Support Manager</small>
                        </h4>
                    </div>
                    <div class="social-links">
                        <a href="//github.com/AMBudnik" target="_blank" rel="noopener">
                            <svg>
                                <use xlink:href="#github_icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="small-12 medium-4 columns team-member">
                    <img src="<%= img_path %>template/ModTeam/piotr_laszczkowski.png" alt="Piotr Laszczkowski">
                    <div class="desc">
                        <h4>
                            Piotr Laszczkowski<br/>
                            <small>Front-end Developer</small>
                        </h4>
                    </div>
                    <div class="social-links">
                        <a href="//github.com/swistach" target="_blank" rel="noopener">
                            <svg>
                                <use xlink:href="#github_icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-4 columns team-member">
                    <img src="<%= img_path %>template/ModTeam/natalia_syryca.png" alt="Natalia Syryca">
                    <div class="desc">
                        <h4>
                            Natalia Syryca<br/>
                            <small>Account Executive</small>
                        </h4>
                    </div>
                    <div class="social-links">
                        <a href="//github.com/nsyryca" target="_blank" rel="noopener">
                            <svg>
                                <use xlink:href="#github_icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="small-12 medium-4 columns team-member">
                    <img src="<%= img_path %>template/ModTeam/wojciech_szymanski.png" alt="Wojciech Szymanski">
                    <div class="desc">
                        <h4>
                            Wojciech Szymański<br/>
                            <small>Front-end Developer</small>
                        </h4>
                    </div>
                    <div class="social-links">
                        <a href="//github.com/wszymanski" target="_blank" rel="noopener">
                            <svg>
                                <use xlink:href="#github_icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="small-12 medium-4 columns team-member">
                    <img src="<%= img_path %>template/ModTeam/marcin_kordacki.png" alt="Marcin Kordacki">
                    <div class="desc">
                        <h4>
                            Marcin Kordacki<br/>
                            <small>UX/UI Designer</small>
                        </h4>
                    </div>
                    <div class="social-links">
                        <a href="//github.com/marcinkordacki" target="_blank" rel="noopener">
                            <svg>
                                <use xlink:href="#github_icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="small-12 medium-4 columns team-member">
                    <img src="<%= img_path %>template/ModTeam/piotr_nowak.png" alt="Piotr Nowak">
                    <div class="desc">
                        <h4>
                            Piotr Nowak<br/>
                            <small>Front-end Developer</small>
                        </h4>
                    </div>
                    <div class="social-links">
                        <a href="//github.com/pnowak" target="_blank" rel="noopener">
                            <svg>
                                <use xlink:href="#github_icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="small-12 medium-4 columns team-member"></div>
            </div>
        </div>
    </div>
</section>