<div class="row brands brands-frontpage">
    <div class="medium-12 large-4 columns">
        <h4>Trusted by the world’s most innovative companies</h4>
    </div>
    <div class="medium-12 large-8 columns">
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-6">
            <li><img src="<%= img_path %>brands/seagate.svg" alt="Seagate"/></li>
            <li><img src="<%= img_path %>brands/amazonaws.svg" alt="Amazon Web Services"/></li>
            <li><img src="<%= img_path %>brands/t-mobile.svg" alt="T-Mobile"/></li>
            <li><img src="<%= img_path %>brands/intel-logo.svg" alt="Intel"/></li>
            <li><img src="<%= img_path %>brands/sony.svg" alt="Sony"/></li>
            <li><img src="<%= img_path %>brands/usengineering.png" alt="US Engineering"/></li>
        </ul>
    </div>
</div>