<div class="row brands brands-frontpage">
    <div class="medium-12 large-4 columns">
        <h4>Trusted by the world’s most innovative companies</h4>
    </div>
    <div class="medium-12 large-8 columns">
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-6">
            <li>
              <div data-lazy-image data-src="<%= img_path %>brands/seagate.svg" data-alt="Seagate" style="width: 92px; height: 52px;"></div>
            </li>
            <li>
              <div data-lazy-image data-src="<%= img_path %>brands/amazonaws.svg" data-alt="Amazon Web Services" style="width: 102px; height: 52px;"></div>
            </li>
            <li>
              <div data-lazy-image data-src="<%= img_path %>brands/t-mobile.svg" data-alt="T-Mobile" style="width: 110px; height: 43px;"></div>
            </li>
            <li>
              <div data-lazy-image data-src="<%= img_path %>brands/intel-logo.svg" data-alt="Intel" style="width: 110px; height: 52px;"></div>
            </li>
            <li>
              <div data-lazy-image data-src="<%= img_path %>brands/sony.svg" data-alt="Sony" style="width: 110px; height: 38px;"></div>
            </li>
            <li>
              <div data-lazy-image data-src="<%= img_path %>brands/usengineering.png" data-alt="US Engineering" style="width: 47px; height: 52px;"></div>
            </li>
        </ul>
    </div>
</div>