<footer class="stripe-gray">
    <div class="row">
        <div class="small-12 medium-3 columns">
            <svg>
                <use xlink:href="#handsontable-logo"></use>
            </svg>
            <p>Handsontable is a JavaScript spreadsheet component for web applications.</p>
            <p>&copy; 2012 -&nbsp;<script>document.write(new Date().getFullYear());</script>&nbsp;Handsoncode</p>
            <p>All trademarks belong to their respective owners.</p>
            <ul class="legal-links">
                <li><a href="/terms-of-use.html">Terms of use</a></li>
                <li><a href="/privacy.html">Privacy policy</a></li>
            </ul>
        </div>
        <div class="small-6 medium-2 medium-offset-1 columns">
            <h4>WRAPPERS</h4>
            <ul>
                <li><a href="//github.com/handsontable/react-handsontable" target="_blank" rel="noopener">React</a></li>
                <li><a href="//github.com/handsontable/vue-handsontable-official" target="_blank" rel="noopener">Vue</a></li>
                <li><a href="//github.com/handsontable/ngHandsontable" target="blank">Angular 1</a></li>
                <li><a href="//github.com/handsontable/angular-handsontable" target="blank">Angular</a></li>
                <li><a href="//github.com/handsontable/hot-table" target="blank">Polymer</a></li>
            </ul>
        </div>
        <div class="small-6 medium-2 columns">
            <h4>RESOURCES</h4>
            <ul>
                <li><a href="//docs.handsontable.com/pro/Core.html">API Reference</a></li>
                <li><a href="//docs.handsontable.com/pro/tutorial-quick-start.html">Tutorials</a></li>
                <li><a href="//docs.handsontable.com/pro/demo-scrolling.html">Examples</a></li>
                <li><a href="//trello.com/b/PztR4hpj"
                       target="_blank" rel="noopener">Roadmap</a></li>
                <li><a href="//twitter.com/handsontable" target="_blank" rel="noopener">Twitter</a></li>

            </ul>
        </div>
        <div class="small-6 medium-2 columns">
            <h4>SUPPORT</h4>
            <ul>
                <li><a href="/knowledge-base.html">Knowledge base</a></li>
                <li><a href="//github.com/handsontable/handsontable/issues" target="blank">Github</a></li>
                <li><a href="//forum.handsontable.com">Forum</a></li>
                <li><a href="//stackoverflow.com/questions/tagged/handsontable" target="_blank" rel="noopener">Stackoverflow</a></li>
            </ul>
        </div>
        <div class="small-6 medium-2 columns">
            <h4>ABOUT</h4>
            <ul>
                <li><a href="/team.html">Team</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/customers/">Customers</a></li>
                <li><a href="/resellers.html">Resellers</a></li>
                <li><a href="/branding.html">Branding</a></li>
                <li><a href="/contact.html">Contact</a></li>
                <li><a href="http://status.handsontable.com" target="_blank" rel="noopener">Uptime status</a></li>
            </ul>
        </div>
    </div>
</footer>

<script async src="/static/js/common/index.js?v=<%= static_rev %>"></script>

<% if (current.source === 'examples'|| current.path[1] == 'articles' || current.source === 'features' || current.source === 'labs-result' || current.source === 'community-download' || current.source === 'pro-download') {  %>
    <script src="/static/bower_components/handsontable-pro/dist/handsontable.full.min.js?v=<%= static_rev %>"></script>
    <script src="/static/bower_components/history.js/scripts/bundled/html4+html5/native.history.js?v=<%= static_rev %>"></script>
    <script src="/static/bower_components/highlightjs/highlight.pack.min.js?v=<%= static_rev %>"></script>

    <% if (current.source === 'features') {  %>
      <script src="/static/node_components/codemirror/codemirror.js?v=<%= static_rev %>"></script>
      <script src="/static/node_components/codemirror/mode/javascript/javascript.js?v=<%= static_rev %>"></script>
      <script async src="/static/js/features/index.js?v=<%= static_rev %>"></script>
    <% } %>
<% } else if (current.source === 'contact') {  %>
    <script async src="/static/js/contact/index.js?v=<%= static_rev %>"></script>
<% } else if (current.source === 'knowledge-base') {  %>
    <script async src="/static/js/knowledgeBase/index.js?v=<%= static_rev %>"></script>
<% } %>

<% if (current.path.join('/') == 'customers/index') { %>
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
<% } %>
<% if (current.source === 'examples' || current.source === 'community-download' || current.source === 'pro-download') {  %>
  <script src="/static/js/lib/prism.min.js?v=<%= static_rev %>"></script>
<% } %>