<section class="customer-story">

    <div class="row">
        <div class="breadcrumbs">
            <a href="/customers">Successful customers</a> / SlicingDice
        </div>
    </div>

    <div class="row banner slicingdice">
        <div class="large-12 large-centered columns">
            <img src="<%= img_path %>template/ModCustomers/slicingdice/slicingdice-logo.png" alt="SlicingDice" width="120" />
            <h1>How SlicingDice Simplified Their API Documentation<br/>
                With Interactive Demos</h1>
            <h2>Store and query billions of data points, without any infrastructure</h2>
        </div>
    </div>

    <div class="row content">
        <div class="large-8 large-centered columns">
            <h3>Introduction</h3>
            <p>
                <a href="https://www.slicingdice.com" target="_blank">SlicingDice</a>, a Data Warehouse and Analytics 
                Database-as-a-Service, came about as a result of personal necessity.
            </p>
            
            <p>
                <a href="https://www.simbioseventures.com/" target="_blank">Simbiose Ventures</a> is a Brazilian 
                startup studio that builds and invests in data-intensive processing platforms. One of their earliest
                products was a self-built data management platform (DMP) that would allow global enterprise businesses,
                marketers, and publishers to collect and aggregate data about their users from multiple sources.
                It is a fairly simple sounding concept, but technically demanding to implement. The platform needs to
                be able to collect, process, and update massive amounts of data from hundreds of sources. Users of the
                platform are then able to 'slice and dice' this data according to their own needs, in order to create
                user segments, etc. Each segment can be made up of dozens of queries, but users still expect each query
                to be completed in fractions of a second.
            </p>

            <p>
                Within two years of first starting work on the DMP they were processing around 15 billion events each 
                month, and their clients had collected more than 200 billion data points. They had tried using a variety
                of existing big data solutions, but each had its own limitations: not quite right, too complex to manage, 
                or simply too expensive. So the Simbiose team set about building their own solution: SlicingDice.
            </p>

            <p>
                The team spent just 90-days working on the initial release, but it was only a year - and much fine-tuning
                 - later that they realised that other companies could also benefit from this solution. Companies that 
                have huge amounts of data, and need to perform complex analytical queries, without having to create their
                own data warehouse.
            </p>    

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    Developers want to store and query their data, but they hate having to manage complex data 
                    infrastructure, so we do it. All they have to do is simply store and query billions of real-time and
                    historical data, without managing any infrastructure.
                </h4>
            </blockquote>

            <p>
                And now SlicingDice is no longer an internal tool for Simbiose Ventures, but also a standalone product 
                used by companies around the globe for everything from storing and analysing data from internet-enabled 
                devices, to website and game analytics, and more.
            </p>

            <img src="<%= img_path %>template/ModCustomers/slicingdice/slicingdice-illustration-4.png" alt="Rafael Telles"
                 class="illustration" />
            <p class="photo-credit">Photo credit: SlicingDice</p>

            <h3>The Challenge</h3>
            <p>
                The entire team behind SlicingDice are developers, which meant they had a strong appreciation of the 
                value of well-documented APIs. The best documentation reduces the amount of friction involved in 
                understanding and integrating the API. You want your users to be spending their time building their 
                product, not lost in your documentation. This meant that the team had to find the perfect solution to 
                documenting their API in a way that would make it simple and fast for both novice developers and 
                experience developers to get started with the platform.
            </p>

            <p>
                But they also did not want to have to spend weeks developing their own custom solution to this challenge.
            </p>

            <img src="<%= img_path %>template/ModCustomers/slicingdice/slicingdice-illustration-1.png" alt="SlicingDice tool"
                 class="illustration" />
            <p class="photo-credit">Photo credit: SlicingDice</p>

            <h3>The Solution</h3>
            <p>
                The team was drawn to the idea of using a spreadsheet-like demo that would allow developers to interact 
                with it, enabling them to see just how easy it is to insert and query data using SlicingDice. Most people
                have fairly good knowledge of how spreadsheets work, so it would make the demos in the API documentation 
                much more accessible.
            </p>

            <p>
                Since they already knew they did not want to have to create their own custom solution to this, they 
                looked at various open-source libraries that included spreadsheet-like elements. But they also did not 
                want to implement a purely open-source solution that risked being abandoned. What convinced them to use 
                Handsontable Pro in their API documentation was the quality of the company’s own documentation, along 
                with the support response speed, and the availability of a commercial version of the software. And their
                efforts have not gone unnoticed, with one developer commenting:
            </p>

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    I'm amazed that no other API-based database company though about using a spreadsheet to explain how 
                    their API works. These tools looks simpler, but are still impressive, and clearly demonstrate how 
                    much you guys are committed to making things easier and simpler for developers.
                </h4>
            </blockquote>

            <img src="<%= img_path %>template/ModCustomers/slicingdice/slicingdice-illustration-2.png" alt="SlicingDice tool"
                 class="illustration" />
            <p class="photo-credit">Photo credit: SlicingDice</p>
          
            <h3>Results and Plans for Future</h3>
            <p>
               Through the inclusion of Handsontable in their documentation, the team was able to add 
               <a href="https://docs.slicingdice.com/docs/our-developer-tools" target="_blank">three demo tools</a> that 
               essentially showed interested developers that if they know how to use a spreadsheet, they also know how 
               to use the SlicingDice API. The three demo tools show how easy it is to insert data, create queries, and 
               create columns using the platform, and they were all created in less than three days. The team are not only
               impressed with the development flexibility that comes with using Handsontable, but also the amazing 
               documentation and customer support.
            </p>

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    Unless you need a spreadsheet that also sings and flies, don't go about reinventing the wheel. Simply
                    use Handsontable; it's definitely worth the time and value.
                </h4>
            </blockquote>   

            <p>
               The team now plan on incorporating Handsontable wherever possible on the SlicingDice platform, with the
               first step being to use Handsontable to display customer data in the control panel. Currently customers 
               can only see the API responses in JSON format, but the team hope to make this data available in a 
               spreadsheet-like interface, using Handsontable. 
            </p>            
    
            <!--
            <a href="<%= static_path %>/resources/ModCustomers/slicingdice/SlicingDice-Customer-Story.pdf" class="download">
                Download as PDF</a> 
            -->

            <div class="row company-details">
                <img src="<%= img_path %>template/ModCustomers/slicingdice/slicingdice-avatar.png" alt="Rafael Telles" />
                <p class="name">Rafael Telles</p>
                <p class="position">Co-founder & CTO at <a href="https://www.slicingdice.com" target="_blank">SlicingDice</a></p>
                <ul>
                    <li>
                        <svg>
                            <use xlink:href="#search_icon"></use>
                        </svg>
                        SlicingDice</li>
                    <li>
                        <svg>
                            <use xlink:href="#map_marker"></use>
                        </svg>
                        São Paulo, Brazil
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#community_icon"></use>
                        </svg>
                        25+ employees
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#link"></use>
                        </svg>
                        <a href="https://www.slicingdice.com" target="_blank">slicingdice.com</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
</section>