<section class="blog">
    <div class="row">
        <% var i = 0; %>
        <% for(var slug in public.blog.articles._data) { %>
            <div class="large-4 columns post-element left">
                <div class="excerpt">
                    <a href="/blog/articles/<%= public.blog.articles._data[slug].directory %><%= slug %>">

                        <img src="/blog/attachments/images/<%= public.blog.articles._data[slug].directory %><%= public.blog.articles._data[slug].image_file %>">
                        <h3><%= public.blog.articles._data[slug].title %></h3>
                        <p><%= public.blog.articles._data[slug].description %></p>

                    </a>
                </div>
            </div>
        <% i++; }; %>
    </div>
    <div class="row text-center gap-top-small">
        <a href="/blog/categories/all"
           class="btn size-large bg-blue bg-lighten hover-moveup text-white shadow">View more posts</a>
    </div>
</section>